<%- include('includes/head') %>
<title>Signin</title>
</head>

<body>

  <div class="container">
    <section class="content">
      <div class="content-content">
        <div class="form-title">
          <h1>Criar conta</h1>
          <p>Crie sua conta abaixo</p>
        </div>
        <%- include('includes/messages') %>
        <form action="/user/create" method="post" class="form-login form">
          <label for="username">Nome do usuário</label>
          <input type="text" name="username" class="field" id="username" autofocus>

          <label for="email">Email</label>
          <input type="text" name="email" class="field" id="email">

          <label for="password">Senha</label>
          <input type="password" name="password" class="field" id="password">

          <label for="password-confirm">Confirmar Senha</label>
          <input type="password" class="field" id="password-confirm">

          <button type="submit" class="btn submit-btn">Criar conta</button>
        </form>
      </div>
    </section>
  </div>

  <%- include('includes/footer') %>